<div class="min-h-screen w-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
  <div class="w-full rounded-xl max-w-5xl shadow-lg p-8">
    <h2 class="text-3xl font-bold text-purple-600 mb-6">Sign Up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      
      <!-- Email Field -->
      <div class="mb-6">
        <%= f.label :email, class: "block text-white text-sm font-semibold text-gray-700" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", 
            class: "mt-1 block w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-purple-500 focus:border-purple-500 text-gray-900 placeholder-gray-500" %>
      </div>

      <!-- Password Field -->
      <div class="mb-6">
        <%= f.label :password, class: "block text-white text-sm font-semibold text-gray-700" %>
        <% if @minimum_password_length %>
          <em class="text-xs text-gray-500">(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password", 
            class: "mt-1 block w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-purple-500 focus:border-purple-500 text-gray-900 placeholder-gray-500" %>
      </div>

      <!-- Password Confirmation Field -->
      <div class="mb-6">
        <%= f.label :password_confirmation, class: "block text-white text-sm font-semibold text-gray-700" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", 
            class: "mt-1 block w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-purple-500 focus:border-purple-500 text-gray-900 placeholder-gray-500" %>
      </div>

      <!-- Submit Button -->
      <div class="flex flex-col gap-4 mt-6">
        <%= f.submit "Sign Up", 
            class: "w-full mt-6 py-2 px-4 bg-purple-800 text-white font-semibold rounded-lg shadow-md hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-purple-500 focus:ring-offset-2 transition-colors duration-200" %>
      </div>
      
      <!-- Login Link -->
      <div class="mt-6 text-center">
        
        <div class="mt-6 text-center text-white space-y-2">
               <%= render "devise/shared/links" %>
        
        
      </div>
      </div>
    <% end %>
  </div>
</div>

