<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Unreal Projects" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class='bg-black text-white'>

  <nav class="bg-gray-900 p-4">
  <div class="flex justify-between items-center">
    <a href="/" class="text-2xl font-bold text-white">Unreal Projects</a>
    
    <div class="space-x-4">
    <% if user_signed_in? %>
    <%= form_with url: destroy_user_session_path, method: :delete, local: true do |form| %>
      <%= form.submit 'Logout', class: 'text-white hover:text-gray-400' %>
    <% end %>
  <% else %>
    <%= link_to 'Login', new_user_session_path, class: 'text-white hover:text-gray-400' %>
  <% end %>
  
    </div>
  </div>
</nav>
    <main class="container mx-auto mt-10 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
